body {
    font-family: 'Noto Serif Thai', serif;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
  }
  .button-btn{
    padding: 10px;
    background-color: skyblue !important;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  h1,h2,h3 {
    font-weight: bold;
    color: #343a40;
  }
  h1{
    font-size: 2.5rem;
    color: #333;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.75rem;
  }
  p{
    line-height: 1.7;
    color: #555;
    text-align: justify;
    text-indent: 2em;
  }
  img{
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  .container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .text-left{
    text-align: left !important;
  }
  .text-indent span{
    display: block;
    text-indent: 2em;
    margin-top: 1rem;
  }
  .btn{
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }